<div class="page page--size-sm" ng-controller="bookFormController">
    <div class="page__inner">
        <div class="grid">
            <div class="grid__row">
                <div class="col-md-12">
                    <div class="page-content-panel">
                        <h1 class="page-title">Book your stay</h1>
                        <div class="form form--booking-form">
                            <form name="bookingForm" novalidate ng-submit="submitForm(bookForm.$valid)">
                                <fieldset>
                                    <legend>Booking Component</legend>
                                    <div class="form-row-group">
                                        <div class="form-row form-row--location">
                                            <label class="label" for="locationSelect">Select location</label>
                                            <div class="form-field">
                                                <div class="styled-select">
                                                    <select class="field" name="locationSelect" id="locationSelect">
                                                        <option>Location name one</option>
                                                        <option>Location name two</option>
                                                        <option>Location name three</option>
                                                        <option>Location name four</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row form-row--datepicker">
                                            <label class="label" for="arrivalDate">Arrival Date</label>
                                            <div class="form-field">
                                                <div class="datepicker-container">
                                                    <input class="field field--datepicker" date-picker placeholder="DD/MM/YYYY" type="text" name="arrivalDate" id="arrivalDate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row-group">
                                        <div class="form-row">
                                            <label class="label" for="nightsSelect">How many nights?</label>
                                            <div class="form-field">
                                                <div class="form-field">
                                                    <div class="styled-select">
                                                        <select class="field" ng-model="bookForm.numNights" ng-options="night for night in bookForm.numNightOptions" name="nightsSelect" id="nightsSelect"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label class="label" for="roomsSelect">How many rooms?</label>
                                            <div class="form-field">
                                                <div class="styled-select">
                                                    <select ng-model="bookForm.roomsSelect" ng-change="updateRoomsSelected();" ng-options="room for room in bookForm.roomsSelectOptions" class="field field--num-rooms" name="roomsSelect" id="roomsSelect"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="bookForm.roomsSelect == '10+'" class="richtext">
                                        <p>The 'call to book' message goes here.</p>
                                    </div>
                                    <div ng-show="bookForm.roomsSelect != '10+'" class="rooms-select-panel">
                                        <div ng-repeat="room in bookForm.roomsSelected" class="rooms-select-panel__item">

                                            <h3 class="multiple-fields__title">Room {{$index+1}}</h3>
                                            <div class="form-row-group">
                                                <div class="form-row form-row--multiple-fields form-row--occupants-select">
                                                    <div class="form-field">
                                                        <label class="label" for="roomAdultsSelect_{{$index}}">Adults</label>
                                                        <p class="disclaimer">over 12 yrs</p>
                                                        <div class="styled-select">
                                                            <select class="field" name="roomAdultsSelect_{{$index}}" id="roomAdultsSelect_{{$index}}">
                                                                <option>1</option>
                                                                <option>2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row form-row--multiple-fields form-row--occupants-select">
                                                    <div class="form-field">
                                                        <label class="label" for="roomChildrenSelect_{{$index}}">Children</label>
                                                        <p class="disclaimer">3 to 12 yrs</p>
                                                        <div class="styled-select">
                                                            <select class="field" name="roomChildrenSelect_{{$index}}" id="roomChildrenSelect_{{$index}}">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row form-row--multiple-fields form-row--occupants-select">
                                                    <div class="form-field">
                                                        <label class="label" for="roomAdultsSelect_{{$index}}">Infants</label>
                                                        <p class="disclaimer">under 3 yrs</p>
                                                        <div class="styled-select">
                                                            <select class="field" name="roomInfantsSelect_{{$index}}" id="roomInfantsSelect_{{$index}}">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="label" for="promoCode">Promo code</label>
                                        <div class="form-field">
                                            <input class="field field--short" type="text" placeholder="Text field" name="promoCode" id="promoCode" />
                                        </div>
                                    </div>

                                    <div class="btn-container form-submit btn-container--next-step">
                                        <input type="submit" value="Check availability" class="btn btn--a" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
