<footer>
    <div class="footer-content">
        <ul role="nav" class="footer-links-list">
            <li><a href="#">link one</a></li>
            <li><a href="#">link two</a></li>
            <li><a href="#">link three</a></li>
            <li><a href="#">link four</a></li>
        </ul>
        <p class="footer-company-info">Company information, registration number &amp; trading address</p>
    </div>
</footer>